/* *{
    border:2px solid red;
} */


img{
    display:block;
    margin:auto;
}


h1{
    margin:auto;
    text-align: center;
   
}

.first-page{
    background: violet;
    color: green;
}

.torta-mele{
    color:darkslategray;
}

.yogurt-fragola{
    color:lime;
}

.lasagna{
    color:sienna;
}

.first-list{
    text-align: center;
    padding:8px;
    margin:10px;
    border:2px solid blue;
    background: whitesmoke;
    
}

.recipe{
    margin-top: 80px;
    text-align: center;
    color: gray;
}

.description{
    width:200px;
    margin:auto;
    
    
}

.ingredienti{
    border:5px solid goldenrod;
    margin-top:20px;

    
}

h3{
    margin-top:0px;
    font-size: 20px;
    color: blueviolet;
}

.preparazione{
    border: 8px dashed tan;
    margin-top:20px;
}

.ingredienti ul{
    border:4px solid teal;
}

.preparazione ol{
    border:4px solid brown;
}


