/* *{
    border:2px solid red;
} */

h1{
    margin:auto;
    text-align: center;
   
}

.first-page{
    background: violet;
    color: green;
}

.torta-mele{
    color:darkslategray;
}

.yogurt-fragola{
    color:lime;
}

.lasagna{
    color:sienna;
}

.first-list{
    text-align: center;
    padding:8px;
    margin:10px;
    border:2px solid blue;
    background: whitesmoke;
    
}

